# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

tmp/*
!tmp/.keep
project/mirror/response_types.ts
project/mirror/internal/repositories/response_types/*
!project/mirror/internal/repositories/response_types/.keep
web/src/types/response_types.ts

TODO.md